@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-gray-300;
    }
}

@layer utilities {
    .text-glow {
        text-shadow: rgba(255,162,0,0.9) 0px 0px 39px;
    }
}

@font-face {
  font-family: 'Rye';
  src: url('/fonts/Rye-Regular.ttf');
}
