---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <div
    class="flex h-96 w-full flex-col gap-8 rounded-2xl bg-ww-white/90 p-4 sm:p-8"
  >
    <h2 class="text-4xl font-black">About</h2>
    <div class="flex justify-start opacity-10">
      <div class="h-[1px] w-full max-w-48 bg-ww-black/75"></div>
    </div>
  </div>
</Layout>
