---
import Layout from '../layouts/Layout.astro';
import Spacer from '../components/ui/Spacer.astro';
---

<Layout>
  <div class="h-96 w-full rounded-2xl bg-ww-white/90 p-4 sm:p-8">
    <h2 class="mb-4">About</h2>
    <Spacer alignment="items-start" />
  </div>
</Layout>
