---
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro';
// import DateC from '../components/DateList.vue'
import DateCards from '../components/DateCards.vue';

const articles = [1, 2, 3];
---

<Layout title="Welcome to Astro.">
  <div class="grid grid-cols-1 gap-4 xl:grid-cols-4">
    <section
      class="flex flex-col gap-8 rounded-2xl bg-ww-white/90 p-4 sm:p-8 xl:col-span-3 xl:rounded-r-none"
    >
      <h2 class="text-4xl font-black">News</h2>
      <div class="flex justify-start opacity-10">
        <div class="h-[1px] w-full max-w-48 bg-ww-black/75"></div>
      </div>
      {articles.map(() => <Article />)}
    </section>
    <section
      class="flex flex-col gap-8 rounded-xl bg-gradient-to-b from-purple to-dark-orange p-4 sm:p-8 xl:rounded-l-none"
    >
      <DateCards client:only="vue" />
    </section>
  </div>
</Layout>
