---
import Layout from '../layouts/Layout.astro';
import VueTest from '../components/VueTest.vue';
---

<Layout title="Welcome to  Astro.">
  <main class="p-12">
    <div
      class="mb-12 w-fit skew-x-12 skew-y-6 bg-[#CE5A67] p-6 text-white md:p-8"
    >
      <h1
        class="-skew-x-12 -skew-y-6 font-west text-[30px] font-bold md:text-[60px]"
      >
        Wild * West
      </h1>
    </div>
    <VueTest client:load />
  </main>
</Layout>
