---
import Layout from '../layouts/Layout.astro';
import VueTest from '../components/VueTest.vue';
---

<Layout title="Welcome to Astro.">
  <main class=" p-12">
    <div class="flex justify-center gap-8">
      <div class="bg-[#CE5A67] p-6 md:p-8 skew-x-12 skew-y-6 mb-12 text-white">
        <h1
          class="font-bold font-west text-[30px] md:text-[60px] -skew-x-12 -skew-y-6"
        >
          Wild * West
        </h1>
      </div>
    </div>
    <div class="grid grid-cols-12">
    <div class="col-span-9 p-8 bg-[#F4BF96]/20">
      <p>
        Selbstdarstellung WildWest-Laden Wer wir sind und was wir sind – oder:
        gegen die Langeweile Im Winter 2007 war für sieben Menschen, von denen
        fast alle in der Neckarstadt West leben, das erträgliche Maß an
        Langeweile in Mannheim endgültig überschritten. Obwohl es in der
        Neckarstadt bereits einige Kultur- und Kunstinitiativen gibt wie den
        Kunstladen, die Galerie Peng! und das JUZ in Selbstverwaltung, fehlt uns
        ein gemütlicher Raum. Ein Raum, in dem regelmäßig unkommerzielle
        kulturelle Veranstaltungen, politische Diskussionen oder Ausstellungen
        stattfinden können. Ein Raum, in dem man einfach nur so zusammenkommen
        und die nächste Revolution planen oder ein Bier trinken kann. Ein Raum
        zum Frühstücken und für opulente Dinnerabende. Um diesen Raum-Notstand
        in der Neckarstadt zu beenden, haben wir den Verein WildWest e.V.
        gegründet. Schnell haben wir einen großartigen Ladenraum in der
        Alphornstrasse 38 gefunden, den wir in Eigenregie renoviert haben und im
        Juli 2008 feierlich eröffnet. Einen richtigen Laden im Falschen: Was wir
        wollen… WildWest ist ein Raum von und für FeministInnen, Grrrrrls &
        Boyz, Linke und AktivistInnen in Pop- und Subkulturen, NihilistInnen,
        Musikbegeisterte, Kaffeejunkies, Nerds, Dekadente und ihre Freundinnen
        und Freunde, Wein- und Biergourmets, Vielseitig-Interessierte und andere
        NeckarstädterInnen … Dementsprechend vielfältig sollen auch die
        Veranstaltungen im Laden sein. Vom revolutionären Handarbeitszirkel über
        politische Theoriediskussionen bis zum Musik-Auflege-Abend und
        Sonntagsbrunch. Der Raum ist das, was wir daraus machen. Klar ist nur:
        wir wollen einen unkommerziellen Raum für Politik und Kultur, aber auch
        einfach als Treffpunkt. Jenseits von kulturellen Großevents, Sponsoring,
        ohne Chefs, mit möglichst wenig Hierarchien, vielen unterschiedlichen
        Menschen und viel Spaß. Keiner verdient sein Geld damit, sondern wir
        machen alle mit, weil wir wirklich Lust darauf haben. Selbstausbeutung?
        Ja, aber mit Stil und einem Grinsen im Gesicht. Es soll ein Raum sein,
        in denen auch Leute eine gute Zeit haben, die es vielleicht in anderen
        Räumen schwer haben. Wir wollen an dieser Stelle keine Aufzählung
        anfangen, weil wir keinen Sinn in Kategorisierungen sehen, wir wollen
        aber an dieser Stelle (und immer wieder) klar machen, dass wir in keiner
        Weise rassistische, sexistische, homophobe, lookistische
        Diskriminierungen dulden werden. Zum gute Zeit haben gehört für (einige
        von) uns auch (und das ist der momentane Stand der Dinge), dass wir uns
        für ein Nichtrauch-Gebot in den WildWest-Räumen entschieden haben – um
        gleich einmal dahingehende Hoffnungen zu dämpfen. …und was auf keinen
        Fall Obgleich dieser Raum ein Raum für Kultur und Kunst sein soll, soll
        es gleichzeitig ein absolut un-hipper und dadurch auch in gewisse Weise
        ein anachronistischer (also: unzeitgemäßer) Raum sein. Was meinen wir
        damit? Wir blicken darauf, was in den letzten Jahren in den
        „Szene“vierteln anderer Städte und hier im Mannheimer Jungbusch passiert
        ist: Hier entstanden Prestigeprojekte wie der Musikpark und die
        Popakademie, Designerfirmen mieteten sich in den rauhen Glanz ehemaliger
        Industriegebäude ein, Szenekneipen mit horrenden Preisen versprachen
        kaufbares Erleben, brachten aber vor allem auch Edelsanierungen und
        kontinuierlich steigende Mieten mit. Wir können dieser Entwicklung durch
        unseren Laden zwar keinen Einhalt gebieten, aber wir bieten an, hier –
        ohne Konsumzwang! – zu günstigen Preisen Kulturangebote für Augen, Ohren
        und Gaumen zu genießen. Mitmachen – ja, aber bitte doch! Jeden Mittwoch
        um 19 Uhr gibt es das regelmäßige Organisationstreffen. Alle sind
        herzlich eingeladen! Hier werden Veranstaltungen geplant und alle
        wichtigen Angelegenheiten des Ladens besprochen. Der Laden seid ihr Wild
        West ist ein Laden, der von den Leuten lebt, die ihn mitgestalten. Neben
        der Planung und Durchführung von Veranstaltungen könnt ihr
        beispielsweise Vokü machen oder beim Thekendienst mithelfen – einfach
        per Mail melden, zum Organisationstreffen kommen oder an der Theke
        fragen… Wir freuen uns! Vereinsmitgliedschaft ist eine super Sache!
        Damit wir unsere Miete bezahlen können, brauchen wir dringend
        Vereinsmitglieder, die uns mit ihrem Mitgliedsbeitrag unterstützen.
        Anträge liegen an der Theke aus oder können auf unsere Homepage
        heruntergeladen werden. Beitrittserklaerung Wild West e.V.
      </p>
    </div>
  </div>
  </main>
</Layout>
