---
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro';
import DateList from '../components/DateList.vue'

const articles = [1, 2, 3];
---

<Layout title="Welcome to Astro.">
  <main
    class="mx-auto grid max-w-full grid-cols-1 gap-4 rounded-2xl rounded-tl-none rounded-tr-none bg-ww-black p-4 sm:max-w-[90vw] sm:rounded-tl-2xl xl:grid-cols-4"
  >
    <section
      class="flex flex-col gap-8 rounded-2xl bg-ww-white/90 p-4 sm:p-8 xl:col-span-3 xl:rounded-r-none"
    >
      {articles.map(() => <Article />)}
    </section>
    <DateList client:only="vue" />
  </main>
</Layout>
