---
import Layout from '../layouts/Layout.astro';
import VueTest from '../components/VueTest.vue';
---

<Layout title="Welcome to Astro.">
  <main class="p-12">
    <div
      class="bg-[#CE5A67] p-6 md:p-8 skew-x-12 skew-y-6 mb-12 text-white w-fit"
    >
      <h1
        class="font-bold font-west text-[30px] md:text-[60px] -skew-x-12 -skew-y-6"
      >
        Wild * West
      </h1>
    </div>
    <VueTest client:load />
  </main>
</Layout>
