---
import rider from '@assets/rider.svg';
import skyline from '@assets/skyline.svg';
---

<header
  class="mx-auto grid max-w-full grid-cols-1 items-end sm:max-w-[90vw] sm:grid-cols-2 lg:grid-cols-4"
>
  <div
    class="flex items-end justify-between gap-8 lg:col-span-3 lg:pr-12 xl:pr-24"
  >
    <h1 class="mb-4 shrink-0 font-black leading-none text-ww-black">
      Wild <span>*</span> West

      <span class="block text-end text-2xl font-light">Neckarstadt</span>
    </h1>
    <div>
      <img
        class="-z-10 hidden w-full max-w-[150px] translate-y-4 lg:block xl:max-w-full"
        src={rider.src}
        alt="image of a horse rider"
      />
    </div>
  </div>
  <div class="grid translate-y-1 grid-cols-3 gap-4 lg:grid-cols-2">
    <img alt="image of a house" class="w-full" src={skyline.src} />
    <img alt="image of a house" class="w-full" src={skyline.src} />
    <img alt="image of a house" class="w-full lg:hidden" src={skyline.src} />
  </div>
</header>
