---
// TODO: More options (color etc)
const { alignment = 'items-center' } = Astro.props;
---

<div class=`-1 flex flex-col ${alignment} gap-1 opacity-50`>
  <div class="h-[2px] w-full max-w-48 bg-ww-black/75"></div>
  <div class="h-[2px] w-full max-w-24 bg-ww-black/75"></div>
</div>